/*common start*/
body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: 16px;
	font-weight: 400px;
	color: #0f2656;
}
/*common end*/
/*header start*/
header{
	border-bottom: 2px solid #0f26561a;
	padding: 20px 0;
}
.container{
	overflow: hidden;
	width: 90%;
	/*border: 1px solid red;*/
	margin: 0 auto;
}
.logo{
	float: left;
	width: 10%;
	/*border: 1px solid blue;*/
}
.logo img{
	width: 100%;
}

.menu{
	float: right;
	width: 60%;
	/*border: 1px solid blue;*/
}
.menu ul{
	float: right;
}
.menu ul li{
	list-style: none;
	float: left;
}
.menu ul li a{
	font-size: 18px;
	color: #0f2656;
	text-decoration: none;
	padding: 0 25px;
	display: inline-block;
}
.menu ul li:last-child a{
	padding-right: 0;
}
/*header end*/
/*banner start*/
.banner{
	padding: 50px 0px;
}
.container2{
	width: 60%;
	margin: 0 auto;
}
.b_text{
	text-align: center;
	/*border: 1px solid;*/
}
.b_text h1{
	font-size: 79px;
	color: #0f2656;
	line-height: 1.2;
	margin: 0px 90px 9px;
}
.b_text h1 span{
	color: #0084FF;
}
.b_text p{
	color: #0E2555;
	font-size: 21px;
	line-height: 28px;
	margin: 0 52px 36px;
}
.b_img{
width: 75%;	
/*border: 1px solid;*/
margin: 0 auto;
}
.b_img img{
	width: 100%;
}
/*banner end*/
/*success start*/
.success{
	padding: 50px 0px;
	border: 1px solid;

}
.s_content{
	overflow: hidden;
	padding: 0 16px;
}
.s_left{
	width: 45%;
	float: left;
	/*border: 1px solid;*/
	padding: 10px 26px;
	text-align: right;
}
.s_left h2{
	font-size: 45px;
	margin: 0px;
	color: #F15767;
}
.s_left p{
	font-size: 23px;
	color: #F2656;
}
.s_right{
	width: 45%;
	float: right;
	/*border: 1px solid;*/
	padding: 10px 26px;
}
.s_right h1{
	font-size: 57px;
	color: #0A2152;
	margin: 0px;
}
/*success end*/
/*single start*/
.service{
	padding: 50px 0;
}
.s_wrapper{
	overflow: hidden;
}
.red{
	background-color: #FDEBED;
}
.green{
	background-color: #eaf9f4;
}
.blue{
	background-color: #fff8e8;
}
.s_single{
	width: 25%;
	padding: 50px 56px;
	float: left;
	margin-right: 44px;
}
.s_single:last-child{
	margin-right: 0px;
}
.s_img{}
.s_img img{
	width: 100%;
}
.s_text{}
.s_text h2{ 
	font-size: 28px;
}
.s_text p{
	font-size: 22px;
}
/*single end*/
/*footer start*/
footer{
	background-color: #008aff;
}
.f_text{
	text-align: center;
	color: #c9d2ff;
}
.f_text p span{
	color: #ffffff;
	letter-spacing: 5px;
}
/*footer end*/
